body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    color: #F6A700;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

p{
    margin: 0;
}

.container{
    margin: 0 130px;
    padding: 0 15px;
    display: flex;
}

   /*----HEADER----*/

.header{
    background-color: #292929;
    height: 50px;
    flex-shrink: 0;
}

.header-container {
    display: flex;
    height: 50px;
    align-items: center;
}

.header-list-logistick {
    display: flex;
    gap: 30px;
    margin-right: 128px;
}

.header-logistick-item {
}

.header-item-link {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.43; /* 142.857% */
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-address {
    display: flex;
    margin-left: 46px;
    align-items: center;
    margin-right: auto;
}

.header-address-list {
    display: flex;
    gap: 30px;
    margin-right: 36px;
}

.header-address-item{
    display: flex;
    align-items: center;
}

.header-address-link {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.43; /* 142.857% */
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-address-icon {
    fill: #F6A700;
    margin-right: 5px;
}

.header-button {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #F6A700;
    flex-shrink: 0;
    border:#F6A700 solid 1px;
    width: 150px;
    height: 28px;
    transition-duration: 400ms;
    cursor: pointer;
}

.header-button:hover{
    background: transparent;
    border:#Ffff solid 1px;
}

   /*----HERO----*/

.hero {
    background: #0F0F0F;
    padding: 10px 0;
}

.hero div{
    align-items: center;
}

.hero-container-catalog{
    display: flex;
    height: 34px;
    width: 143px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    background: #F6A700;
    border-radius: 6px;
    border: #F6A700 solid 1px;
    margin-left: 20px;
    transition-property: background-color border;
    transition-duration: 600ms;
}

.hero-container-catalog:hover{
    background-color: transparent;
    border: #F6A700 solid 1px;
}

.hero-catalog-icon{
    fill: #FFF;
}

.hero-catalog-link {
    color: #0F0F0F;
    font-family: Gilroy;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.63; /* 163.265% */
    width: 100%;
    height: 100%;
}

.hero-container {
    width: 308px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-left: 20px;
}

.hero-container-rectangle {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 8px;
    border: #F6A700 solid 1px;
    background: #F6A700;
    margin: 3px 4px 4px 270px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition-duration: 400ms;
}

.hero-container-rectangle:hover {
    background: transparent;
    border: #F6A700 solid 1px;
}

.hero-container-rectangle:hover .hero-rectangle-icon {
    fill: #F6A700;
}

.hero-container-rectangle a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-rectangle-icon{
    fill: #FFF;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 30px;
}

.hero-item {
    list-style: none;
}

.hero-item-link {
    color: #FFF;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
text-decoration: none;
}

.hero-item-icon {
    margin-bottom: 5px;
    fill: #FFF;
}

.hero-item-link:hover .hero-item-icon {
    fill: #F6A700;
    color: #F6A700;
}

   /*----BENEFEAST----*/

.benefeast {
    background: #201F1F;
    padding: 10px 0;
}

.benefeast-list {
    display: flex;
    gap: 93px;
    margin-left: 60px;
}

.benefeast-link {
    color: #FFF;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    text-transform: uppercase;
}

.benefeast-link:hover{
    color: #F6A700;
}

   /*----MASTER----*/

.master{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    height: 926px;
    padding-top: 138px;
}

.master div{
    display: block;
}

.master-title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 700;
    line-height: 0.9; /* 90% */
    width: 548px;
}

.master-text {
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 1,4; /* 140% */
    width: 515px;
    margin-top: 23px;
}

.master-button {
    margin-top: 50px;
    width: 172px;
    height: 38px;
    flex-shrink: 0;
    background-color: #F6A700;
    border-radius: 5px;
    transition-property: background-color, border;
    transition-duration: 800ms;
}

.master-button:hover{
    background-color: transparent;
    border: #F6A700 solid 1px;
}

.master-link{
    display: flex;
    width: 172px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

   /*CHOICE*/

.choice {
    background: #FFF;
}

.choice div{
    display: block;
}

.choice-top-list {
    display: flex;
    gap: 90px;
}

.choice-top-item{
    display: flex;
}

.choice-top-icon {
    margin-right: 4px;
}

.choice-top-text {
    width: 245px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.choice-top-title {
    color: #000;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.78; /* 77.778% */
    margin-top: 70px;
}

.choice-middle-list {
    display: flex;
    gap: 130px;
    margin-top: 43px;
}

.choice-middle-link {
    display: flex;
    width: 270.237px;
    height: 40.536px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F6A700;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choice-middle-link:hover{
    color: #d09516;
}

.choice-through-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.choice-through-list li{
    width: calc((100% - 120px) / 3);
    margin-top: 18px;
    border: transparent solid 2px;
    border-radius: 8px;
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choice-through-list li:hover{
    box-shadow: 8px 8px 20px -6px rgba(66, 68, 90, 1);
}

.choice-through-link {
    display: flex;
}

.choice-through-link div{
    margin-left: 20px;
    margin-top: 20px;
}

.choice-through-title {
    color: #000;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 137.5% */
}

.choice-through-text {
    color: #000;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}

.container-experts {
    display: flex;
}

.container-experts div{
    display: block;
}

   /*----BETTER----*/

.better {
}

.better-conntainer {
    display: block;
}

.better-conntainer-top {
    display: flex;
    margin-top: 70px;
}

.better-conntainer-top div{
    margin-left: 34px;
}

.better-top-title {
    color: #000;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 800;
}

.better-top-text {
    color: #000;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    margin-top: 13px;
}

.better-middle-container {
    display: flex;
    background-color: #3C3C3C;
    position: relative;
    height: 164px;
    border-radius: 10px;
    margin-top: 100px;
}

.better-middle-container img{
    position: absolute;
    top: -30px;
    left: 60px;
}

.better-middle-title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.better-middle-title span{
    color: #F6A700;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.better-middle-text {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 459px;
    margin-top: 12px;
}

.better-middle-container div{
    margin: 43px auto auto 402px;
}

.better-middle-list {
    display: flex;
    gap: 15px;
    margin-right: 60px;
}

.better-middle-item{
    display: flex;
    align-items: center;
}

.better-through-container {
    display: flex;
    margin-top: 76px;
}

.better-through-title {
    color: #000;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.better-through-text {
    color: #000;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px; /* 135% */
}

.better-through-text span{
    color: #000;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    width: 819px;
}

.better-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 22px;
    display: flex;
    justify-content: space-between;
}

.better-list li {
    width: calc((100% - 120px) / 5);
    padding-left: 6px;
    padding-bottom: 6px;
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.better-list li:hover{
    box-shadow: 8px 8px 19px -6px rgba(66, 68, 90, 1);
    border-radius: 8px;
}

.better-list > li > div{
    height: 115px;
    display: block;
    justify-content: space-between;
}

.better-list > li > div {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.better-list > li > div > * {
    height: 100%;
}
  

.better-list-text {
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.better-list-paragraph {
    color: #696969;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.better-list h4{
    color: #000;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.better-list >li > ul{
    display: flex;
}

.better-list > li > ul li:first-child{
    display: flex;
    background-color: #F6A700;
    width: 70px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F6A700;
    box-shadow: none;
    padding: 0;
}

.better-list > li > ul li:first-child:hover{
    background-color: #d09516;
}

.better-list > li > ul li:first-child svg{
    fill: #FFF;
}

.better-list > li > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.better-list > li > ul li:not(:first-child){
    display: flex;
    margin-left: 25px;
    box-shadow: none;
    padding: 0;
}

.better-list > li > ul > li > a{
    height: 22px;
}